<section id="contact">
  <div class="section-header">/* contato */</div>

  <div class="contact-line"><span class="contact-key">email</span><span class="contact-val"><a href="mailto:mattdias30@gmail.com" target="_blank">mattdias30@gmail.com</a></span></div>
  <div class="contact-line"><span class="contact-key">github</span><span class="contact-val"><a href="https://github.com/ilvmikan" target="_blank">github.com/ilvmikan</a></span></div>
  <div class="contact-line"><span class="contact-key">linkedin</span><span class="contact-val"><a href="https://linkedin.com/in/mateusqdias" target="_blank">linkedin.com/in/mattdiasq</a></span></div>

</section>
